* {
    margin: 0;
    padding: 0;
}
body{
    background: #efefef;
}
.topNavBar {
    position: fixed;
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 10px 15px;
    
}
.topNavBar a {
    text-decoration: none;
}
.topNavBar .navLogo {
    float: left;
    font-family: 'Arial Black';
    font-size: 22px;
}
.topNavBar .navLogo .rs {
    color: #e6686a;
    margin-right: 4px;
}
.topNavBar .navLogo .card {
    color: #9a9da2;
}
.topNavBar nav .navContent {
    float: right;
    font-size: 13px;
}
.topNavBar nav a {
  color: rgba(255, 255, 255, .6);
  font-weight: bold;
}
.topNavBar nav ul>li {
    list-style: none;
    float: left;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.topNavBar nav ul>li:hover {

}

.banner {
    height: 515px;
    background: url('./lina.png');
    background-position: 0 -70px;
    /* background-size: cover; */
}
.banner .mask {
    height: 515px;
    background: rgba(0, 0, 0, 0.5);
}

.userCard {
    border: 1px solid #ffffff;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
}

.userCard .welcome {
    background: #e6686a;
    color: #ffffff;
    display: inline-block;
    padding: 4px 15px;
    line-height: 22px;
}

.userCard .triangle {
    display: block;
    border: 10px solid lightblue;
    width: 0px;
    border-top-color: pink;
    border-left-color: lightgreen;
    border-right-color: lightseagreen;
    border-bottom-width: 20px;
}

.uesrCard .picture {
    float: left;
}

.userCard .text {
    float: left;
}